.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: baseline;
  border-radius: var(--a-border-radius-large) var(--a-border-radius-large) var(--a-border-radius-small)
    var(--a-border-radius-small);
  color: var(--a-text-subtle);
  text-decoration: none;
}

.tidligere {
  background-color: var(--a-surface-neutral-subtle);
}

.kommende {
  background-color: var(--a-surface-success-subtle);
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.seDetaljer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: underline;
}

.seDetaljerKommende {
  color: var(--a-text-subtle);
}

.seDetaljerTidligere {
  color: var(--a-text-action);
}

.container:hover .seDetaljerTidligere {
  color: var(--a-text-action-hover);
  text-decoration: none;
}

.container:hover .seDetaljerKommende {
  color: var(--a-text-subtle-hover);
  text-decoration: none;
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.kommende:hover {
  background-color: var(--a-surface-success-subtle-hover);
}

.tidligere:hover {
  background-color: var(--a-surface-neutral-subtle-hover);
}
