---
import { NAVN_URL } from "astro:env/server";
import ClientError from "../../../shared/client-error/ClientError";
import { fetchData } from "../../../shared/utils/server/fetch";
import logger from "../../../shared/utils/server/logger";
import { getAudience, getOboToken } from "../../../shared/utils/server/token";
import style from "../Personalia.module.css";

const audience = getAudience("tms-min-side-proxy");
const oboToken = await getOboToken(Astro.locals.token, audience);

let data = { navn: "", ident: "" };
let isError = false;

try {
  data = await fetchData(oboToken, NAVN_URL);
} catch (error: any) {
  logger.error(`Fetching navn failed. ${error.message}`);
  isError = true;
}
---

{isError && <ClientError client:only="react" />}
<span class:list={["notranslate", style.navn]}>{data.navn ? data.navn.toLowerCase() : data.ident}</span>
