---
import VarslerIkon from "./VarlerIkon";
import VarslerData from "./VarslerData";
import { getLanguage } from "../../../language/language";
import { varslerUrl } from "./varslerUrls";
import style from "./Varsler.module.css";

const language = getLanguage(Astro.url);
---

<a href={varslerUrl} class={style.varsler}>
  <VarslerIkon />
  <div class={style.container}>
    <h3 class="navds-heading navds-heading--small">Varsler</h3>
    <p class="navds-body-long">
      <VarslerData language={language} client:only="react" />
    </p>
  </div>
</a>
