---
import { Skeleton } from "@navikt/ds-react/cjs/skeleton/Skeleton.js";
import styles from "./MicrofrontendCSR.module.css";
---

<div class={styles.wrapper}>
  <Skeleton variant="rounded" width={444} height={124} />
</div>
