.heading {
  display: flex;
  justify-content: space-between;
}

.detaljer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.15rem;
  margin-top: var(--tms-space-between-sections);
}

.detaljerContainer {
  background: var(--ax-bg-sunken);
  width: 100%;
  padding: 1rem 1rem 0.75rem;
  border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
}

/* -- TODO: clean this-- */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.container {
  display: flex;
  width: 100%;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding: 1rem 1.25rem 1rem 1.25rem;
  text-decoration: none;
  color: inherit;
  background: var(--ax-bg-sunken);
}

.utbetalt {
  background: var(--ax-bg-sunken);
}

.utbetalt:hover {
  background: var(--ax-bg-neutral-moderate-hover);
}

.kommende {
  background: var(--ax-bg-success-soft);
}

.kommende:hover {
  background: var(--ax-bg-success-moderate-hover);
}

.ytelse {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sum {
  font-weight: 600;
}

.chevron {
  flex-shrink: 0;
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}
