.container {
  margin-top: var(--tms-space-between-sections);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
  margin-bottom: 0.125rem;
  text-decoration: none;
  color: var(--ax-text-neutral);
}

.headerContainer:hover h2 {
  text-decoration: underline;
}

.headerContainer:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.headerContainerNyMelding {
  background: var(--ax-bg-brand-blue-soft);
}

.headerContainerNyMelding:hover {
  background: var(--ax-bg-brand-blue-moderate);
}

.headerContainerIngenNyMelding {
  background: var(--ax-bg-neutral-soft);
}

.headerContainerIngenNyMelding:hover {
  background: var(--ax-bg-neutral-moderate-hover);
}

.bodyContainer {
  padding: 1rem 1rem 1.25rem 1rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.bodyContainerNyMelding {
  background: var(--ax-bg-brand-blue-soft);
}

.bodyContainerIngenNyMelding {
  background: var(--ax-bg-neutral-soft);
}

.tagChevron {
  display: flex;
  gap: 10px;
}

.chevron {
  flex-shrink: 0;
}

@media (min-width: 648px) {
  .headerContainer {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
  }

  .bodyContainer {
    padding: 1rem 1.25rem 1.25rem 1.25rem;
  }
}
