.contentContainer {
  color: var(--a-text-default);
  background: var(--a-bg-subtle);
  padding: 1rem;
  border-radius: var(--a-border-radius-large) var(--a-border-radius-large) var(--a-border-radius-small)
    var(--a-border-radius-small);
  margin-bottom: 0.125rem;
}

.linkContainer {
  color: var(--a-text-subtle);
  background: var(--a-bg-subtle);
  padding: 1.25rem 1rem 1.25rem 1.25rem;
  border-radius: var(--a-border-radius-small) var(--a-border-radius-small) var(--a-border-radius-large)
    var(--a-border-radius-large);
}

.text {
  margin: 1rem 0 0 0;
}

@media (min-width: 648px) {
  .header {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
  }
}
