---
import { BodyShort } from "@navikt/ds-react/cjs/typography/BodyShort.js";
import { Language } from "../../../language/language";
import { text } from "../../../language/utbetaling";
import styles from "./IngenUtbetaling.module.css";
import { Heading } from "@navikt/ds-react/cjs/typography/Heading.js";

interface Props {
  language: Language;
}

const { language } = Astro.props;
---

<div>
  <div class={styles.contentContainer}>
    <Heading level="2" size="xsmall">{text.tittelUtbetalinger[language]}</Heading>
    <BodyShort className={styles.text}>
      {text.ingen[language]}
    </BodyShort>
  </div>
</div>
