---
import Authentication from "@components/authentication/Authentication";
import { fetchDecoratorReact } from "@navikt/nav-dekoratoren-moduler/ssr";
import { getDecoratorEnvironment } from "../../utils/server/environment";
import { getLanguage } from "@language/language";
import "./Layout.css";

export interface Props {
  title: string;
  breadcrumbs: [
    {
      title: string;
      url: string;
    },
  ];
}

const language = getLanguage(Astro.url);
const { title, breadcrumbs } = Astro.props;

const Decorator = await fetchDecoratorReact({
  env: getDecoratorEnvironment(),
  params: {
    context: "privatperson",
    breadcrumbs: breadcrumbs,
    availableLanguages: [
      {
        locale: "nb",
        url: "https://www.nav.no/minside/nb",
        handleInApp: true,
      },
      {
        locale: "en",
        url: "https://www.nav.no/minside/en",
        handleInApp: true,
      },
      {
        locale: "nn",
        url: "https://www.nav.no/minside/nn",
        handleInApp: true,
      },
    ],
  },
});
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <title>{title}</title>
    <link rel="preload" href="https://cdn.nav.no/aksel/@navikt/ds-css/5.7.3/index.min.css" as="style" />
    <link rel="stylesheet" href="https://cdn.nav.no/aksel/@navikt/ds-css/5.7.3/index.min.css" />
    <Decorator.HeadAssets />
  </head>
  <body>
    <Decorator.Header />
    <slot />
    <Authentication client:only="react" />
    <Decorator.Footer />
    <Decorator.Scripts />
  </body>
</html>

<script>
  import { getCurrentConsent } from "@navikt/nav-dekoratoren-moduler";
  import { getEnvironmentClientSide } from "../../utils/client/environment";

  interface Consent {
    consent: {
      analytics: boolean;
      surveys: boolean;
    };
  }

  const { consent }: Consent = getCurrentConsent();

  if (consent) {
    const script = document.createElement("script");
    const websiteId =
      getEnvironmentClientSide() === "prod"
        ? "28461d11-25ed-4e27-bfc6-6994e6dffb63"
        : "8dfbb064-8462-460c-8a21-06a5bcf932de";

    script.defer = true;
    script.src = "https://cdn.nav.no/team-researchops/sporing/sporing.js";
    script.setAttribute("data-astro-rerun", "");
    script.setAttribute("data-host-url", "https://umami.nav.no");
    script.setAttribute("data-website-id", websiteId);

    document.head.appendChild(script);
  }
</script>
