---
import pino from "pino-http";
import { getAudience, getOboToken } from "../../utils/server/token";
import { getLanguage } from "../../language/language";
import IngenUtbetaling from "./ingen/IngenUtbetaling.astro";
import KommendeUtbetaling from "./kommende/KommendeUtbetaling.astro";
import SisteUtbetaling from "./siste/SisteUtbetaling.astro";
import ClientError from "../client-error/ClientError";
import { utbetalingsoversiktApiUrl } from "./utbetalingUrls";
import type { Utbetaling } from "./utbetalingTypes";
import { fetchData } from "../../utils/server/fetch";
import styles from "./Utbetaling.module.css";

const audience = getAudience("tms-utbetalingsoversikt-api");
const oboToken = await getOboToken(Astro.locals.token, audience);
const logger = pino().logger;

let data: Utbetaling = { hasKommende: false, hasUtbetaling: false, sisteUtbetaling: null, kommende: null };
let isError = false;

try {
    data = await fetchData(oboToken, utbetalingsoversiktApiUrl);
  } catch (error: any) {
    logger.error("Fetching utbetaling failed.", error.message);
    isError = true;
}

const language = getLanguage(Astro.url);
---

{isError && <ClientError client:only="react" />}
<div class={styles.container}>
  {data.hasUtbetaling && (
    <SisteUtbetaling sisteUtbetaling={data.sisteUtbetaling} kommende={data.kommende} />
  )}
  {data.hasKommende && (
    <KommendeUtbetaling kommende={data.kommende} />
  )}
  {!data.hasKommende && !data.hasUtbetaling && (
    <IngenUtbetaling />
  )}
</div>