.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--a-text-action);
  padding: 1rem;
  border-radius: var(--a-border-radius-small) var(--a-border-radius-small) var(--a-border-radius-large)
    var(--a-border-radius-large);
  margin-top: 0.25rem;
}

.tidligere {
  background-color: var(--a-surface-neutral-subtle);
}

.kommende {
  background-color: var(--a-surface-success-subtle);
  color: var(--a-text-subtle);
}

.tidligere:hover {
  background-color: var(--a-surface-neutral-subtle-hover);
  color: var(--a-text-action-hover);
}

.kommende:hover {
  background-color: var(--a-surface-success-subtle-hover);
  color: var(--a-text-subtle-hover);
}

.container:hover {
  border: none;
  text-decoration: none;
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}
