.utkast {
  display: flex;
  gap: 1rem;
  width: 100%;
  color: var(--a-white);
  border-radius: 0.5rem;
  text-decoration-line: none;
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.ikonRektangel {
  position: relative;
  max-width: 100%;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--a-surface-action);
  display: flex;
  justify-content: center;
  align-items: center;
}

.utkast:hover .ikonRektangel {
  background-color: var(--a-blue-400);
}

.ikon {
  flex-shrink: 0;
}

.ikonHover {
  position: absolute;
  object-fit: contain;
  opacity: 0;
}

.utkast:hover .ikonHover {
  opacity: 1;
}

.utkast:hover .ikon {
  opacity: 0;
}

.utkast:hover h3 {
  text-decoration-line: underline;
  text-decoration-thickness: 0.06rem;
}

.utkast p {
  color: var(--a-white);
}

.utkast:hover p {
  color: var(--a-white);
}

@media (min-width: 480px) {
  .utkast {
    padding: 0.75rem;
  }
}
