---
import UtkastIkon from "./UtkastIkon";
import { getLanguage } from "../../../language/language";
import style from "./Utkast.module.css";

const language = getLanguage(Astro.url);
---

<div class={style.utkast}>
  <UtkastIkon />
  <div class={style.container}>
    <h3 class="navds-heading navds-heading--small">Utkast</h3>
    <p class="navds-body-long">1 påbegynt søknad</p>
  </div>
</div>


