---
import Dokumenter from "./dokumenter";
import { getLanguage } from "../../language/language";
import styles from "./dokumenter.module.css";
import { Context } from "hono";
import IngenDokumenter from "./ingen/IngenDokumenter";

const language = getLanguage(Astro.url);

const isSubstantial = Astro.locals.isSubstantial;
---

<div class={styles.container}>
  {
    !isSubstantial ? (
      <Dokumenter language={language} client:only="react" />
    ) : (
      <IngenDokumenter language={language} client:only="react" />
    )
  }
</div>
