.tekst {
  margin: 0 !important;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
  letter-spacing: -0.004em;
}

@media (min-width: 0px) {
  .container {
    margin: 1rem 0;
  }
}

@media (min-width: 648px) {
  .container {
    margin: 1rem 0;
  }

  .tekst {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.008em;
  }
}
