---
import { getLocale } from "@src/shared/utils/server/locale";
import Navn from "./navn/Navn.astro";
import style from "./Personalia.module.css";
import { text } from "./personaliaText";

const locale = getLocale(Astro.currentLocale);
---

<div class={style.container}>
  <h2 class={style.tekst}>
    <span>{text.hilsen[locale]} <Navn server:defer /></span>
  </h2>
</div>
