---
import type { Language } from "@src/shared/utils/server/language";
import Navn from "./navn/Navn.astro";
import style from "./Personalia.module.css";
import { text } from "./personaliaText";

const language = Astro.currentLocale as Language;
---

<div class={style.container}>
  <h2 class={style.tekst}>
    <span>{text.hilsen[language]} <Navn server:defer /></span>
  </h2>
</div>
