.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.heading {
  background: var(--ax-bg-sunken);
  border-radius: var(--ax-radius-8) var(--ax-radius-8) var(--ax-radius-2)
    var(--ax-radius-2);
  padding: 1rem;
}

.kommendeOgTidligere {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--ax-bg-sunken);
  border-radius: var(--ax-radius-2);
  padding: 1rem;
  text-decoration: none;
  color: var(--ax-text-neutral-subtle);
}

.datoOgYtelse {
  display: flex;
  flex-direction: column;
}

.datoOgTag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.125rem;
  text-decoration: none;
}

.ytelse {
  text-decoration: underline;
  color: var(--ax-text-accent-subtle);
}

.tag {
  background: var(--ax-bg-success-moderateA);
}

.ytelse:hover {
  color: var(--ax-text-accent-subtle);
  text-decoration: none;
}

.kommendeOgTidligere:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.utbetaling {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.kommendeOgTidligere:hover {
  background: var(--ax-bg-neutral-moderate-hover);
}
