---
import style from "./AlertIsland.module.css";
import Utkast from "./utkast/Utkast.astro";
import Varsler from "./varsler/Varsler.astro";
---

<div class={style.container}>
  <div class={style.wrapper} id="varlser">
    <Varsler server:defer />
  </div>
  <Utkast server:defer />
</div>

<script>
  import { logEvent } from "../../utils/client/umami";

  const utkast = document.querySelector("#utkast");
  const varsler = document.querySelector("#varlser");

  utkast?.addEventListener("click", () => {
    logEvent("utkast", "generell", "Utkast");
  });

  varsler?.addEventListener("click", () => {
    logEvent("varsel", "generell", "Varsel");
  });
</script>
