---
import pino from "pino-http";
import { getAudience, getOboToken } from "../../utils/server/token";
import ClientError from "../client-error/ClientError";
import { navnUrl } from "./personaliaUrls";
import { fetchData } from "../../utils/server/fetch";
import style from "./Personalia.module.css";

const audience = getAudience("tms-min-side-proxy");
const oboToken = await getOboToken(Astro.locals.token, audience);
const logger = pino().logger;

let data = { navn: "", ident: "" };
let isError = false;

try {
  data = await fetchData(oboToken, navnUrl);
} catch (error: any) {
  logger.error("Fetch failed.", error.message);
  isError = true;
}
---

{isError && <ClientError client:only="react" />}
<span class:list={["notranslate", style.navn]}>{data.navn ? data.navn.toLowerCase() : data.ident}</span>
