---
import { fetchNavn } from "./fetchNavn";
import { getOboToken } from "../../utils/server/token";
import style from "./Personalia.module.css";

const audience = `${process.env.NAIS_CLUSTER_NAME}:min-side:tms-min-side-proxy`;
const oboToken = await getOboToken(Astro.locals.token, audience);

const { data, isError } = await fetchNavn(oboToken);
---

<span class={style.navn}>{data.navn ? data.navn.toLowerCase() : data.ident}</span>