---
import { fetchNavn } from "./fetchNavn";
import { getOboToken } from "../../utils/server/token";
import ClientError from "../client-error/ClientError";
import style from "./Personalia.module.css";

const audience = `${process.env.NAIS_CLUSTER_NAME}:min-side:tms-min-side-proxy`;
const oboToken = await getOboToken(Astro.locals.token, audience);

let data = { navn: "", ident: "" };
let isError = false;

try {
  data = await fetchNavn(oboToken);
} catch (error: any) {
  console.error("Fetch failed.", error.message);
  isError = true;
}
---

{isError && <ClientError client:only="react" />}
<span class={style.navn}>{data.navn ? data.navn.toLowerCase() : data.ident}</span>

