---
import { getOboToken } from "@utils/server/token";
import { navnUrl } from "./personaliaUrls";
import style from "./Personalia.module.css";

console.info("NavnUrl: " + navnUrl);

const oboToken = await getOboToken(Astro.locals.token);

const response = await fetch(navnUrl, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
    Authorization: `Bearer ${oboToken}`,
  },
}).catch((error: Error) => {
  console.error("Error:" + error)
});

const data = await response.json();
---

<span class={style.navn}>{data.navn ? data.navn.toLowerCase() : data.ident}</span>