---
import { getOboToken } from "@utils/server/token";
import { navnUrl } from "./personaliaUrls";
import style from "./Personalia.module.css";

const oboToken = await getOboToken(Astro.locals.token);
let isError =  true;

const response = await fetch(navnUrl, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
    Authorization: `Bearer ${oboToken}`,
  },
}).then((response) => {
  if (!response.ok) {
    console.error(`Error, fetch failed with status: ${response.status}`);
    isError = true;
    return;
  }

  return response.json();
}).catch((error) => {
  console.error(`Error, fetch failed: ${error}`);
  isError = true;
  return;
});

const data = isError ? { navn: "" } : response;
---

<span class={style.navn}>{data.navn ? data.navn.toLowerCase() : data.ident}</span>