.contentContainer {
  color: var(--ax-text-neutral);
  background: var(--ax-bg-sunken);
  padding: 1rem;
  border-radius: var(--ax-radius-8) var(--ax-radius-8) var(--ax-radius-2)
    var(--ax-radius-2);
  margin-bottom: 0.125rem;
}

.linkContainer {
  color: var(--ax-text-neutral-subtle);
  background: var(--ax-bg-sunken);
  padding: 1.25rem 1rem 1.25rem 1.25rem;
  border-radius: var(--ax-radius-2) var(--ax-radius-2) var(--ax-radius-8)
    var(--ax-radius-8);
}

.text {
  margin: 1rem 0 0 0;
}

@media (min-width: 648px) {
  .header {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
  }
}
