---
import { BodyShort, Heading } from "@navikt/ds-react";
import { text } from "@src/features/utbetaling/utbetalingText";
import type { Locale } from "@src/shared/utils/server/locale";
import styles from "./IngenUtbetaling.module.css";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
---

<div>
  <div class={styles.contentContainer}>
    <Heading level="2" size="xsmall">{text.tittelUtbetalinger[locale]}</Heading>
    <BodyShort className={styles.text}>
      {text.ingen[locale]}
    </BodyShort>
  </div>
</div>
