.container {
  margin-top: var(--tms-space-between-sections);
  min-height: 9.75rem;
}

.containerYtelse {
  display: flex;
  width: 100%;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding: 1rem 1.25rem 1rem 1.25rem;
  text-decoration: none;
  color: inherit;
}

.utbetalt {
  background: var(--ax-bg-sunken);
}

.utbetalt:hover {
  background: var(--ax-bg-neutral-moderate-hover);
}

.kommende {
  background: var(--ax-bg-success-soft);
}

.kommende:hover {
  background: var(--ax-bg-success-moderate-hover);
}

.ytelse {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sum {
  font-weight: 600;
}

.ingen {
  /*
  display: flex;
  justify-content: center;
   */
}

.linkAlle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ax-bg-sunken);
  padding: 1.25rem;
  border-radius: 0.5rem;
  color: var(--ax-text-neutral);
  text-decoration: none;
}

.linkAlle:hover {
  background-color: var(--ax-bg-neutral-moderate-hover);
  border: none;
  text-decoration: underline;
}

.linkAlle:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.chevron {
  flex-shrink: 0;
}

.detaljer {
  display: flex;
  justify-content: center;
  margin-bottom: 0.15rem;
}

.detaljerContainer {
  background: var(--ax-bg-sunken);
  width: 100%;
  padding: 1rem 1rem 0.75rem;
  border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
}

.kommendeUtbetaling {
  background: var(--ax-bg-success-soft);
}

.chevron {
  flex-shrink: 0;
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.heading {
  display: flex;
  justify-content: space-between;
}

.link {
  color: var(--ax-text-neutral);
}

.link:hover {
  text-decoration: none;
}

/* Ingen */

.ingenHeader {
  color: var(--ax-text-neutral);
  background: var(--ax-bg-sunken);
  padding: 1rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
  margin-bottom: 0.125rem;
}

.ingenContent {
  color: var(--ax-text-neutral-subtle);
  background: var(--ax-bg-sunken);
  padding: 1.25rem 1rem 1.25rem 1.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.text {
  padding-bottom: 2.25rem;
}

@media (min-width: 648px) {
  .ingenHeader {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
  }
}
