---
import { Heading, Skeleton } from "@navikt/ds-react";
import { text } from "@src/features/dokumenter/dokumenterText";
import type { Language } from "@src/shared/utils/server/language";

const language = Astro.currentLocale as Language;
---

<div>
  <Heading size="xsmall" as="h2" spacing>
    {text.heading[language]}
  </Heading>
  <Skeleton variant="text" height="50px" width="100%" />
  <Skeleton variant="text" height="50px" width="100%" />
  <Skeleton variant="text" height="50px" width="100%" />
</div>
