---
import { Heading, Skeleton } from "@navikt/ds-react";
import { text } from "@src/features/dokumenter/dokumenterText";
import { getLocale } from "@src/shared/utils/server/locale";

const locale = getLocale(Astro.currentLocale);
---

<div>
  <Heading size="xsmall" as="h2" spacing>
    {text.heading[locale]}
  </Heading>
  <Skeleton variant="text" height="50px" width="100%" />
  <Skeleton variant="text" height="50px" width="100%" />
  <Skeleton variant="text" height="50px" width="100%" />
</div>
