---
import { Heading, Skeleton } from '@navikt/ds-react';
import { text } from '../dokumenterText';
import { getLanguage } from '../../../utils/server/language';

const language = getLanguage(Astro.url);
---

<div>
  <Heading size="xsmall" as="h2" spacing>
    {text.heading[language]}
  </Heading>
  <Skeleton variant="text" height="50px" width="100%" />
  <Skeleton variant="text" height="50px" width="100%" />
  <Skeleton variant="text" height="50px" width="100%" />
</div>
