.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: var(--ax-radius-2) var(--ax-radius-2) var(--ax-radius-8)
    var(--ax-radius-8);
  margin-top: 0.25rem;
  color: #0067c5;
}

.tidligere {
  background-color: var(--ax-bg-sunken);
}

.kommende {
  background-color: var(--ax-bg-success-soft);
  color: var(--ax-text-neutral-subtle);
}

.tidligere:hover {
  background-color: var(--ax-bg-neutral-moderate-hover);
  color: var(--ax-text-accent-subtle);
}

.kommende:hover {
  background-color: var(--ax-bg-success-moderate-hover);
  color: var(--a-text-subtle-hover);
}

.container:hover {
  border: none;
  text-decoration: none;
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}
