.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: baseline;
  border-radius: var(--ax-radius-8) var(--ax-radius-8) var(--ax-radius-2)
    var(--ax-radius-2);
  color: var(--ax-text-neutral-subtle);
  text-decoration: none;
}

.tidligere {
  background-color: var(--ax-bg-sunken);
}

.kommende {
  background-color: var(--ax-bg-success-soft);
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.seDetaljer {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  text-decoration: underline;
}

.seDetaljerKommende {
  color: var(--ax-text-neutral-subtle);
}

.seDetaljerTidligere {
  color: var(--ax-text-accent-subtle);
}

.container:hover .seDetaljerTidligere {
  color: var(--ax-text-accent-subtle);
  text-decoration: none;
}

.container:hover .seDetaljerKommende {
  color: var(--a-text-subtle-hover);
  text-decoration: none;
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.kommende:hover {
  background-color: var(--ax-bg-success-moderate-hover);
}

.tidligere:hover {
  background-color: var(--ax-bg-neutral-moderate-hover);
}
