.container {
  width: 100%;
  min-height: 10rem;
  margin-top: var(--tms-space-between-sections);
}

.heading {
  background-color: var(--a-bg-subtle);
  padding: 1rem 1.25rem;
  border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
  margin-bottom: 0.125rem;
}

.ingress {
  background-color: var(--a-bg-subtle);
  padding: 1rem 1.25rem;
  border-radius: 0.125rem 0.125rem 0.5rem 0.5rem;
  margin-bottom: 1rem;
}

.text {
  color: var(--a-text-subtle);
}